<div class="main">
<div class="container">
    <div>
    <h4 class="h4" (click)="toggleDropdown('rush')">Rush
      <i [ngClass]="{'fa-chevron-up': isRush, 'fa-chevron-down': !isRush}" class="fas"></i>
    </h4>
    
    <div class="dropdown-list" *ngIf="isRush" >
     
      
        <select >
            <option value="All">ALl</option>
            <option value="Yes">yes</option>
            <option value="No">No</option>
           
          </select>
           
    </div>
</div>
  <span>space </span>



  <div>
  <h4 class="h4" (click)="toggleDropdown('storage')">Storage
    <i [ngClass]="{'fa-chevron-up': isStorage, 'fa-chevron-down': !isStorage}" class="fas"></i>
  </h4>
  
  <div class="dropdown-list" *ngIf="isStorage" >
    
    
    <label class="dropdown-option">
      <input type="checkbox"  id="s1" name="dropdown-group" value="perishable" (change)="getValues($event); handlePerishable()" (click)="load()"/>
      perishable
    </label><br>
    
    <label class="dropdown-option">
      <input type="checkbox" id="s2" name="dropdown-group" value="Refrigerated" (change)="getValues($event); handleStorage($event)" (click)="load()"/>
      Refrigerated
    </label><br>
    
    <label class="dropdown-option">
      <input type="checkbox" id="s3" name="dropdown-group" value="Fridge" (change)="getValues($event); handleStorage($event)" (click)="load()"/>
     Fridge
    </label><br>
</div>
</div>      



<span>space </span>

<hr>
<div>
  <h4 class="h4" (click)="toggleDropdown('service')">Service
    <i [ngClass]="{'fa-chevron-up': isService, 'fa-chevron-down': !isService}" class="fas"></i>
  </h4>
  
  <div class="dropdown-list" *ngIf="isService">
   
    
    <label class="dropdown-option">
      <input type="checkbox" name="dropdown-group" value="PHARMA" (change)="getValues($event); handleChange($event)" (click)="load()" />
      PHARMA
    </label><br>
    
    <label class="dropdown-option">
      <input type="checkbox" name="dropdown-group" value="FS" (change)="getValues($event); handleChange($event)" (click)="load()" />
      FS
    </label><br>
    
    <label class="dropdown-option">
      <input type="checkbox" name="dropdown-group" value="ECOM " (change)="getValues($event); handleChange($event)" (click)="load()"/>
     ECOM
    </label><br>
    <label class="dropdown-option">
        <input type="checkbox" name="dropdown-group" value="PLANO" (change)="getValues($event); handleChange($event)" (click)="load()"/>
       PLANO
      </label><br>
      <label class="dropdown-option">
        <input type="checkbox" name="dropdown-group" value="NPING" (change)="getValues($event); handleChange($event)" (click)="load()"/>
       NPING
      </label><br>
      <label class="dropdown-option">
        <input type="checkbox" name="dropdown-group" value="SVR" (change)="getValues($event); handleChange($event)" (click)="load()"/>
       SVR
      </label><br>
      <label class="dropdown-option">
        <input type="checkbox" name="dropdown-group" value="MKTG" (change)="getValues($event); handleChange($event)" (click)="load()"/>
       MKTG
      </label><br>
</div>
</div>
<span>space </span>

<div>
    <h4 class="h4" (click)="toggleDropdown('status')">Status 
      <i [ngClass]="{'fa-chevron-up': isStatus, 'fa-chevron-down': !isStatus}" class="fas"></i>
    </h4>
    
    <div class="dropdown-list" *ngIf="isStatus" [class.show]="isStatus">
     
      
      <label class="dropdown-option">
        <input type="checkbox" name="dropdown-group" value="TO DO" (change)="getValues($event); handleChange($event)" (click)="load()"/>
        TO DO
      </label><br>
      
      <label class="dropdown-option">
        <input type="checkbox" name="dropdown-group" value="In Progress" (change)="getValues($event); handleChange($event)" (click)="load()"/>
        In Progress
      </label><br>
      
      <label class="dropdown-option">
        <input type="checkbox" name="dropdown-group" value="Done" (change)="getValues($event); handleChange($event)" (click)="load()"/>
       Done
      </label><br>
     
  </div>
    </div>
    </div><br>
    

 

 <div  *ngIf="isLoading" class="position-fixed w-100 h-100 d-flex align-items-center justify-content-center bg-white spinner-overlay " >
  <div class="spinner-border" role="status" style="width: 6rem; height: 6rem;border: 10px solid gray;border-top: 10px solid white;">
    <span class="sr-only" id="loading"></span>
  </div>
</div>


 <div class="card-container">

  <div class="card" *ngFor="let item of filteredData">
   
    <ng-container *ngIf="'plano'; then planoImage else pharmaImage"></ng-container>
    <div class="card-details">
      <!-- <p>{{ item.PharmaProductImages}}</p> -->
      <h3>{{ item.companyName }}</h3>
      <p style="color: blue;">UPC Code: {{ item.upc }}</p>
      <p>{{ item.name }}</p>
      <p>PSR: {{ item.psrId }}</p>
      <p>{{ item.serviceType }}</p>
     
      <!-- Additional details as needed -->
    </div>
  </div>
</div>

</div>
<ng-template #planoImage>
  <img src="assets/plano.png" alt="Plano Image" class="card-image">
</ng-template>

<ng-template #pharmaImage>
  <img src="assets/pharma.jpeg" alt="Pharma Image" class="card-image">
</ng-template>
