<h1><i>{{loggedInUser?.username}}</i></h1>
<app-header></app-header>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Role</th>
      <th *ngIf="isAdmin()">Action 1</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users" appHighlight>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role}}</td>
      <td>{{user.time | signUpDate}}</td>
      <td *ngIf="isAdmin()">
        <button class="btn btn-primary" (click)="openEditDialog(user)">
          edit
        </button>
        
        <button type="button" class="btn btn-danger" (click)="deleteUser(user)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>